*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
h1{
  font-size: 7em;
}
p{
  text-transform: uppercase;
  font-size: 3em;
}
p.false{
  color: crimson;
}
p.true{
  color: greenyellow;
}